.btn {
    color: #edf2f4;
    background-color: #2b2d42;
    padding: 12px;
    border: 2px solid #8d99ae;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    transition: all 200ms linear;
    font-size: 16px;
  }
  
  .btn:hover {
    color: #2b2d42;
    background-color: #edf2f4;
  }
  